@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1576576440417'); /* IE9 */
  src: url('iconfont.eot?t=1576576440417#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAK4AAsAAAAABqAAAAJsAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqBLIEjATYCJAMICwYABCAFhG0HLxvIBRHVkwlkXxTYtjD70hitBtLpVi7io5EWSfu+CCJaK6tnZuEBkMMSiIUDdm/j3gU0SiAZfSiD2ylwiDUtu4JwA2BxzgMbFaFGcvbk0RfS8iDLyee5nN4EOpBr/PfyXMYYNtbiMQEDSwPcC6PIygLLuGHsJoIHeB8CeBMvl7S2947iYgDLBJB9WxtLuIUwBuPkXAS7Ya9BbmPhqivq4Bb/vPwpzgWFpQENg+ttqzR+T4YF+rTn9CwliIBgHLYADeQCAzLamO5HIw6n8U4bknGsWoHvyR4PdSNHdSDOXweqfQGI1ZXPpMLqR61WABg5XgRqJ20AFRV57HRo6P2r4eur5IsPz0RsPHrks2Fha2EPVK094oG16fSDShlzUneeRx3ta21oZTK0/fEE56GZ5t11O6l+Tuq+Fonuhu7H0bvEk7lPPy62t8Z00wj4mT6tXgCBscX9OQsBtf9dHwPAp/i9ud0wzAvuWQwyUfG3VAP7TKwBLmVCVaNXUTRpqQK88QY8pj/Yt6nWsFvLCy5hN+h1iMugcUklDZsLCx9KYePSAG9ydBz2IcQRNGK8gGwXNAiB3kDhz1toAr0jDfsVFuH+wSYwDW/GJeRMH9KD/OFIKBg1yD941XcGefggam9o30lQXsP5F9LkY1AXVTl3xQ5piQ3TxzbMBgz1GS7aY5hSDwP1ARUXjnloy9I0vahQfZ4dOBIKRg3yD171naGj+VB5/w3tOwnqaBpJv5AmPznURTWAvBq7QU2P8sz0sQ2zAUN9hos2C1PqYWieFVBx4SYkh7aEw8xQY7G9Of9AhdMGsCmBUzTrddH9cTYD') format('woff2'),
  url('iconfont.woff?t=1576576440417') format('woff'),
  url('iconfont.ttf?t=1576576440417') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1576576440417#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fanye:before {
  content: "\e622";
}

